.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tag:hover{
     color: orangered;
}
.gridcontainer{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 30px;
  border: 1px dotted;
}
.gridcontainer:hover{
  color: orangered;
}
.felxcontainer{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto;
  row-gap: 30px;
  margin-top: 2%;
}
.text:hover{
  color: orangered;
}
.context{
  text-align: center;
  margin-top: 5%;
}
.context:hover{
  color: orangered;
}
.cardcontainer{
  display: flex;
 justify-content: space-evenly;
}
.sofas{
  text-align: center;
}
.sofas:hover{
  color: orangered;
}
.footer{
  width: 100%;
  height: 50vh;
  background-color: rgb(3, 3, 119);
  color: white;
  margin-top: 3%;
}
.footercontainer{
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-template-rows: auto auto auto auto ;
  padding-top: 3%;
}
.logos{
  display: flex;
 gap:30px;
 margin-top: 3%;
}